

<!DOCTYPE html>

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="public/css/main.css">
    <title>SiGTE</title>
</head>
<body>


    

    <div class="container">
        <!-- Encabezado y subtitulo -->
        <header>
            <h1>Bienvenido</h1>
            <h2>Sistema de Gestión de Trabajo en Equipo</h2>
        </header>
        <!-- Fin de encabezado -->
        <!-- contenedor del logo -->
        <div class="logo-container"> 
        </div>
        <!-- fin del logo -->
        <!-- nombre de la marca -->
        <span class="brand">
            SiGTE
            <?php
    session_start();
    $idSession = $_SESSION['user_type_id'];
    echo '<input type="hidden" name="session" data-session="'.$idSession.'">'
?>
        </span>
        <?php
        session_start();
        // var_dump($_SESSION);
        if(isset($_SESSION['user_type_id']))
        {
            $idSession = $_SESSION['user_type_id'];
            var_dump( $idSession);
        ?> 
             <input type="hidden" name="session" data-session="<?=$idSession?>">
        <?php
        }
    
        else{
            $idSession=100;
        ?> 
             <input type="hidden" name="session" data-session="<?= $idSession ?>">
        <?php
        }
        ?>
        

        <!-- fin de la marca -->
        <!-- botones de login -->

        <div class="btn-container">
            
            <span>Iniciar Sesión</span>
            
                <button class="btn btn-maestro btn-login"data-tipouser="0">Maestro</button>
                <button class="btn btn-lider btn-login" data-tipouser="1">Líder de Equipo</button>
                <button class="btn btn-miembro btn-login" data-tipouser="2">Miembre de Equipo</button> 
     
         
        </div>
    </div>
    <script src="public/js/jquery.js"></script>
    <script src="public/js/main.js"></script>
</body>
</html>