:root{
    --dark-primary-color : #303F9F;
    --default-primary-color:#3F51B5;
    --light-primary-color:#C5CAE9;
    --text-icons-color: #FFFFFF; 
    --accent-color:#448AFF;
    --primary-text-color:#212121;
    --secondary-text-color :#757575;
    --divider-color :#BDBDBD; 
} 

/* iphone 6 7 y 8 */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
   
.form-create-student-container{
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.form-create-student-container__form{
    height: 100%;
    display: grid;
    grid-template-rows: 85% 30%;
    background-color:var(--dark-primary-color);
}
.form-create-student-container-form__title{
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.form-create-student-container-form__inputs-container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}
.form-create-student-container-form__inputs-container > input{
    background: none;
    width: 80vw;
    min-height: 50px;
    border: 1px solid var(--divider-color);
    margin-bottom: 2rem;
    color: var(--divider-color);
    padding-left: 20px;
    letter-spacing: 1px;
    
}
.form-create-student-container-form__inputs-container input::placeholder{
    color: var(--divider-color);
    padding-left: 20px;
    letter-spacing: 1px;
 }

 .form-create-student-container-form-button-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
.form-create-student-container-form-container__button{
    width: 80vw;
    margin: auto;
    min-height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
}








    
  }