:root{
    --dark-primary-color : #303F9F;
    --default-primary-color:#3F51B5;
    --light-primary-color:#C5CAE9;
    --text-icons-color: #FFFFFF; 
    --accent-color:#448AFF;
    --primary-text-color:#212121;
    --secondary-text-color :#757575;
    --divider-color :#BDBDBD; 
} 

/* iphone 6 7 y 8 */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
   
.form-create-student-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.form-create-student-container__form {
    height: 90vh;
    display: grid;
    grid-template-rows: 80% 20%;
    background-color:var(--dark-primary-color);
}
.form-create-student-container-form__title {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.form-create-student-container-form__subtitle {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-text-color);
}
.form-create-student-container-form__inputs-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}
.input-container {
margin-bottom: .5rem;
display: flex;
flex-direction: column;
position: relative;
}
.input-container > input, select { 
    background: none;
    width: 80vw;
    min-height: 45px;
    border: 1px solid var(--divider-color);
    margin-bottom: 0;
    color: var(--divider-color);
    padding-left: 20px;
    letter-spacing: 1px;
}
.small-message{
    padding-top: .2rem;
    padding-bottom: .3rem;
    color: var(--primary-text-color);
}
.form-create-student-container-form__inputs-container > input, select, textarea{
    background: none;
    width: 80vw;
    min-height: 50px;
    border: 1px solid var(--divider-color);
    margin-bottom: 0rem;
    color: var(--divider-color);
    padding-left: 20px;
    letter-spacing: 1px;
    
}
.form-create-student-container-form__inputs-container input::placeholder{
    color: var(--divider-color);
    padding-left: 20px;
    letter-spacing: 1px;
 }
 textarea::placeholder{
    color: var(--divider-color);
    padding-left: 20px;
    text-align: left;
    letter-spacing: 1px;
 }

 .form-create-student-container-form-button-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: var(--default-primary-color);
 }
.form-create-student-container-form-container__button, .form-assing-student-container-form-container__button,
.form-assing-student-container-form-container__button__evalueStudent,
.form-create-student-container-form-container__button_create-team,
.form-create-student-container-form-container__button_create-project{ 
    width: 80vw;
    /* margin: auto; */
    min-height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
}
.is-leader-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: none;
    width: 80vw;
    min-height: 50px;
    border: 1px solid var(--divider-color);
    margin-bottom: 2rem;
    color: var(--divider-color);
    padding-left: 20px;
    position: relative;
}
.is-leader-container > .question{

    text-align: center;
    color: var(--secondary-text-color);
}
#si::after{
content: "Si";
display: block;
font-size: 12px;
position: absolute;
top:0;
left: 60vw;
}
#no::after{
    content: "No";
    display: block;
    font-size: 12px;
    position: absolute;
    top:0;
    left: 72vw;
}
.input-table{
    width: 3rem;
    height: 50px;
    background: none;
    margin: auto auto;
    display: block;
    border: 1px solid var(--divider-color);
    
    color: var(--divider-color);
    letter-spacing: 1px;
}
tr >td {
    text-align: center;
    text-transform: capitalize;
    color:var(--secondary-text-color);
}
#name_activity{
    width: 60vw;
   
}

.width-input-name-activity{
    width: 80vw;
}
.btn-span{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--accent-color);
    color: var(--text-icons-color);
    text-align: center;
    border-radius: 5px;
    top: calc(50% - 1rem);
    margin-right: 1rem;
    font-size: 1.5rem; 
    right: 0;

}








    
  }