:root{
    --dark-primary-color : #303F9F;
    --default-primary-color:#3F51B5;
    --light-primary-color:#C5CAE9;
    --text-icons-color: #FFFFFF; 
    --accent-color:#448AFF;
    --primary-text-color:#212121;
    --secondary-text-color :#757575;
    --divider-color :#BDBDBD; 
} 

/* iphone 6 7 y 8 */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
   
.form-create-student-container {
    width: 100%;
    height: 100%;
    padding: 1rem;
}
.form-create-student-container__form {
    height: 90vh;
    display: grid;
    grid-template-rows: 85% 15%;
    background-color:var(--dark-primary-color);
}
.form-create-student-container-form__title {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
}
.form-create-student-container-form__subtitle {
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-text-color);
}
.form-create-student-container-form__inputs-container {
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;

}
.input-container {
margin-bottom: .5rem;
display: flex;
flex-direction: column;
position: relative;
}
.input-container > input, select { 
    background: none;
    width: 80vw;
    min-height: 45px;
    border: 1px solid var(--divider-color);
    margin-bottom: 0;
    color: var(--divider-color);
    padding-left: 20px;
    letter-spacing: 1px;
}
.small-message{
    padding-top: .2rem;
    padding-bottom: .3rem;
    color: var(--primary-text-color);
}
.form-create-student-container-form__inputs-container > input, select, textarea{
    background: none;
    width: 80vw;
    min-height: 50px;
    border: 1px solid var(--divider-color);
    margin-bottom: 0rem;
    color: var(--divider-color);
    padding-left: 20px;
    letter-spacing: 1px;
    
}
.form-create-student-container-form__inputs-container input::placeholder{
    color: var(--divider-color);
    padding-left: 20px;
    letter-spacing: 1px;
 }
 textarea::placeholder{
    color: var(--divider-color);
    padding-left: 20px;
    text-align: left;
    letter-spacing: 1px;
 }

 .form-create-student-container-form-button-container{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     background-color: var(--default-primary-color);
 }
 .container_edit{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: var(--default-primary-color);
}
.container_edit > button{
    width: 40vw;
    /* margin: auto; */
    min-height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
    margin: .5rem;
}
.btn-delete{
background-color: tomato !important;
}
.form-create-student-container-form-container__button, .form-assing-student-container-form-container__button,
.form-assing-student-container-form-container__button__evalueStudent,
.form-create-student-container-form-container__button_create-team,
.form-create-student-container-form-container__button_create-project,
.form-create-student-container-form-container__button_get-evidence-project,
.form-create-student-container-form-container__button-evalue-project,
.main-content-container-list__item__results-project__button,
.form-create-student-container-form-container__button_create-activity-project 
{ 
    width: 80vw;
    /* margin: auto; */
    min-height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--accent-color);
}
.form-create-student-container-form-container__assign-Team-To-Project{
    width: 80vw;
    /* margin: auto; */
    min-height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--light-primary-color);
}
.is-leader-container{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: none;
    width: 80vw;
    min-height: 50px;
    border: 1px solid var(--divider-color);
    margin-bottom: 2rem;
    color: var(--divider-color);
    padding-left: 20px;
    position: relative;
}
.is-leader-container > .question{

    text-align: center;
    color: var(--secondary-text-color);
}
#si::after{
content: "Si";
display: block;
font-size: 12px;
position: absolute;
top:0;
left: 60vw;
}
#no::after{
    content: "No";
    display: block;
    font-size: 12px;
    position: absolute;
    top:0;
    left: 72vw;
}
.input-table{
    width: 3rem;
    height: 50px;
    background: none;
    margin: auto auto;
    display: block;
    border: 1px solid var(--divider-color);
    
    color: var(--divider-color);
    letter-spacing: 1px;
}
tr >td {
    text-align: center;
    text-transform: capitalize;
    color:var(--secondary-text-color);
}
#name_activity{
    width: 60vw;
   
}

.width-input-name-activity{
    width: 80vw;
}
.btn-span{
    position: absolute;
    width: 2rem;
    height: 2rem;
    background-color: var(--accent-color);
    color: var(--text-icons-color);
    text-align: center;
    border-radius: 5px;
    top: calc(50% - 1rem);
    margin-right: 1rem;
    font-size: 1.5rem; 
    right: 0;

}
.datagrid-informe{
    display: grid;
    grid-template-columns: 45vw 45vw;
    /* width: 80vh; */
    text-transform: capitalize;

}
.column-tags{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;


}
.column-tags > h3{
    display: block;
    width: fit-content;
    color: var(--secondary-text-color);
    margin: .3rem;
    font-size: 1rem;
} 
.column-info{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.column-info >h3 {
margin: .3rem;
font-size: 1rem;
color: var(--primary-text-color);
} 
.input-container > h1{
    text-align: center;
}

.btn-info{
    width: 40vw;
    /* margin: auto; */
    min-height: 50px;
    border: none;
    border-radius: 5px;
    background-color: var(--secondary-text-color);
    text-decoration: none;
    color: var(--primary-text-color);
    display: flex;
    justify-content: center;
    align-items: center;
}
.data-student > .input-container > input {
    min-height: 40px !important;
}
.projects-container{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-auto-rows: auto auto auto auto;
    row-gap: 20px;
    column-gap: 20px;
   overflow:auto;
   padding: 1rem;

    

    
}
.projects-container > span {
   padding: 5px 5px 10px 5px;
    display: flex;
    align-content: flex-start;
    word-wrap: break-word;
    align-items: center;
    flex-wrap: nowrap;
    text-align: left;
    min-width: 20vw;
    min-height: 10vh;
    text-transform: capitalize;
    border-bottom: 1px dashed var(--divider-color);
}
.projects-container > span:hover, span:active, span:focus {
background-color: var(--accent-color);
color: var(--text-icons-color);

}

table{
    overflow: auto;
}



    
  }