*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: "Roboto";
    
}
.login-error{
    color: tomato;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
.fast {
    -webkit-animation-duration: 0.4s;
    animation-duration: 0.4s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}
  
@keyframes fadeIn {
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }
  
.fadeIn{
    animation-name: fadeIn;
}

  
@font-face{
    font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.ttf");
}
:root{
    --dark-primary-color : #303F9F;
    --default-primary-color:#3F51B5;
    --light-primary-color:#C5CAE9;
    --text-icons-color: #FFFFFF; 
    --accent-color:#448AFF;
    --primary-text-color:#212121;
    --secondary-text-color :#757575;
    --divider-color :#BDBDBD; 
} 
body{
    background-color:  var(--default-primary-color );
}
/* iphone 6 7 y 8 */
@media only screen 
  and (min-device-width: 360px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      
header{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    margin-top: 32px;
}
footer{
    position: fixed;
    bottom: 0;
    /* padding: 1rem; */
    right: 0;
    left:0;
    margin: auto auto;
    text-align: center;
    font-size: 12px;
    z-index: -1;
}
h1{
    color: black;
    font-size: 25px;
    margin-bottom: 1rem;
    

}
h2{
    color: var(--secondary-text-color);
    font-size: 13px;
    font-weight: normal;
   
}
.logo-container{
    width: 113px;
    height: 113px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 10vh;
}
.logo-container::after{
    content: "";
    width: 60px;
    height: 60px;
    /* background-color: red; */
   display: block;
    position: absolute;
    background-image: url('../img/icons/user-icon.svg');
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
}
.brand{
    display: block;
    margin: 20% auto 0 auto;
    text-align: center;
    font-size: 30px;
    color: var(--primary-text-color);
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90vw;
    margin: auto auto;
    padding-top: 2rem;
}
.btn-container > span{
    text-align: center;
    margin-bottom: 10%;
    color: var(--secondary-text-color);
}
.btn{
    height: 50px;
    border: none;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.btn:hover, .btn:active{
    cursor: pointer;
}
.btn-maestro{
    background-color: var(--accent-color);
    color: var(--text-icons-color);
}
.btn-lider{
    background-color: var(--dark-primary-color);
    color: var(--text-icons-color);
}
.btn-miembro{
    background-color: var(--light-primary-color);
    color: var(--primary-text-color);
}

/* home maestro  */
.header-mobile{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;

}
.header-mobile__title{
    margin: auto;
}

.icon-bars{
width: 16px;
height: 16px;
background-image: url("../img/icons/menu.png");
display: block;
background-position: 50% 50%;
color:var(--primary-text-color);
margin-left: 1rem;
}
.icon-more{
display: flex;
flex-direction: column;
height: 1rem;
justify-content: space-between;
}
.icon-more > i{
    width: 4px;
    height: 4px;
    background-color: var(--text-icons-color);
    display: block;
    border-radius: 50%;
    margin-right: 1rem;
}
.icon-more > i:hover{
 cursor: pointer;
}
.item-container{
    width: 90%;
    display: grid;
    grid-template-columns: 80% 20%;
    padding: 1.5rem 0;
    margin: 1rem auto;
    background-color: var(--dark-primary-color);
    position: relative;

}
.text-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}
.text-content > small {
    color: var(--secondary-text-color);
    position: absolute;
    bottom: 0;
    left: 1rem;


}
.img-container{
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--light-primary-color);
}


/* login maestro */

.small-title{
    display: block;
    font-size: 13px;
    color: var(--secondary-text-color);
    
}
.icon-row-left{
width: 16px;
height: 16px;
background-image: url("../img/icons/row-left.png");
display: block;
background-position: 50% 50%;
background-size: cover;
color: var(--primary-text-color);
margin-left: 1rem;
}
.login-main{
    padding-top: 5vh;
}
.login-logo-container{
    display: flex;
    flex-direction: column;
    margin: auto auto;
    width: 30vw;
    justify-content: center;
    align-items: center;
    
}
.login-logo-container__logo{
    background-image: url("../img/icons/login-icon.png");
    background-size: 60px 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 113px;
    height: 113px;
    padding: 4rem;
    background-color: var(--accent-color);
    border-radius: 50%;
    margin-bottom: 5vh;
}
.login-logo-container__title{
    text-align: center;
    width: max-content;
}
.logo-footer-title{
    font-weight: 500;
    font-size: 1.9rem;
    color: var(--primary-text-color);
    margin-bottom: .5rem;
}
.logo-footer-sub-title{
    color: var(--secondary-text-color);
    font-size: 18px;
}
.login-form-container{
    margin-top: 3vh;
    height: max-content;
}
.login-form-container > form{
text-align: center;
display: flex;
justify-content: space-between;
flex-direction: column;

}
.login-form-container > form > input{
    display: block;
    width: 80vw;
    height: 50px;
    background: none;
    border: 1px solid var(--accent-color);
    margin: 1rem auto;
    color: var(--text-icons-color);
    padding-left: 20px;
}
.login-form-container > form > input::placeholder{
   color: var(--text-icons-color);
   padding-left: 20px;
   letter-spacing: 1px;
}
.login-form-container > form > button{
    display: block;
    width: 80vw;
    height: 50px;
    background-color: var(--accent-color);
    border: 1px solid var(--accent-color);
    margin: 1rem auto;
    border-radius: 20px;
    color: var(--text-icons-color)
}

/* nav-bar maestro */
.main-list{
    height: 85vh;
    width: 25vw;
    background-color: var(--dark-primary-color);
    display: grid;
    grid-template-rows: auto;
}
.main-list__item{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--text-icons-color);
}
.main-list__item:hover, .main-list__item:active,.main-list__item:focus{
    cursor: pointer;
}
/* icons nav-bar */

.studens-icon{
    background-image: url("../img/icons/student-icon.svg");
    background-size: 60px 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: auto;
    height: auto;
  
}
.team-icon{
    background-image: url("../img/icons/team-icon.svg");
    background-size: 60px 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: auto;
    height: auto; 
}
.project-icon{
    background-image: url("../img/icons/project.svg");
    background-size: 60px 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: auto;
    height: auto; 
}
.message-icon{
    background-image: url("../img/icons/message.svg");
    background-size: 60px 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: auto;
    height: auto; 
}

/* MAIN FOOTER */
.footer-content-contaier{
    display: grid;
    grid-template-columns: 25vw auto 10vw;
    background-color: var(--dark-primary-color);
}
.footer-icon-container{
    background-image: url("../img/icons/footer-user-icon.svg");
    background-size: 60px 60px;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: auto;
    height: 100px; 
}
.footer-info-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}
.name-user{
    color: var(--primary-text-color);
    padding: .2rem;
    text-transform: capitalize;
    font-weight: bold;
    font-size: 1.1rem;
}
.surnames{
    color: var(--secondary-text-color);
    padding: .2rem;
    text-transform: capitalize;
}
.logout-icon{
    background-image: url("../img/icons/Logout.svg");
    background-size: 2rem 1.5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 2rem;
 
}

/* MAIN CONTENT */
.main-content-container{
    position: absolute;
    top: 0;
    right: 0;
    width: 75vw;
    height: 85vh;
    background-color: var(--default-primary-color);
    display: grid;
    grid-template-rows: 20vw auto;
}
.go-back-icon-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: auto;
    
}
.go-back-icon{
    background-image: url("../img/icons/row-rigth.svg");
    background-size: 2rem 1.5rem;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    display: block;
    width: 2rem;
    height: 2rem;
    margin: .3rem;
}
.main-content-container__list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    justify-items: center;
    padding-top: 5vh;
}
.main-content-container-list__item{
padding: 1rem;
text-transform: capitalize;
font-size: 1.2rem;
text-align: center;

}
}
/* iphone 5/SE */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 359px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      
header{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    margin-top: 1rem;
}
h1{
    color: black;
    font-size: 25px;
    margin-bottom: 1rem;
    

}
h2{
    color: var(--secondary-text-color);
    font-size: 13px;
    font-weight: normal;
   
}
.logo-container{
    width: 113px;
    height: 113px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 8vh;
}
.logo-container::after{
    content: "";
    width: 60px;
    height: 60px;
   display: block;
    position: absolute;
    background-image: url('../img/icons/user-icon.svg');
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
}
.brand{
    display: block;
    margin: 16% auto 0 auto;
    text-align: center;
    font-size: 30px;
    color: var(--primary-text-color);
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90vw;
    margin: auto auto;
    padding-top: 1rem;
}
.btn-container > span{
    text-align: center;
    margin-bottom: 10%;
    color: var(--secondary-text-color);
}
.btn{
    height: 50px;
    border: none;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.btn:hover, .btn:active{
    cursor: pointer;
}
.btn-maestro{
    background-color: var(--accent-color);
    color: var(--text-icons-color);
}
.btn-lider{
    background-color: var(--dark-primary-color);
    color: var(--text-icons-color);
}
.btn-miembro{
    background-color: var(--light-primary-color);
    color: var(--primary-text-color);
}

}

/* iphone 6 7 8 plus */
@media only screen 
  and (min-device-width: 411px) 
  and (max-device-width: 600px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
      
header{
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: 100vw;
    text-align: center;
    margin-top: 3rem;
}
footer{
    position: absolute;
    bottom: 0;
    /* padding: 1rem; */
}
h1{
    color: black;
    font-size: 25px;
    margin-bottom: 1rem;
    

}
h2{
    color: var(--secondary-text-color);
    font-size: 13px;
    font-weight: normal;
   
}
.logo-container{
    width: 113px;
    height: 113px;
    background-color: var(--accent-color);
    display: block;
    border-radius: 50%;
    margin: 0 auto;
    position: relative;
    top: 12vh;
}
.logo-container::after{
    content: "";
    width: 60px;
    height: 60px;

   display: block;
    position: absolute;
    background-image: url('../img/icons/user-icon.svg');
    background-size: cover;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto auto;
}
.brand{
    display: block;
    margin: 25% auto 0 auto;
    text-align: center;
    font-size: 30px;
    color: var(--primary-text-color);
}
.btn-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 90vw;
    margin: auto auto;
    padding-top: 3rem;
}
.btn-container > span{
    text-align: center;
    margin-bottom: 12%;
    color: var(--secondary-text-color);
}
.btn{
    height: 50px;
    border: none;
    margin-bottom: 2rem;
    border-radius: 5px;
}
.btn:hover, .btn:active{
    cursor: pointer;
}
.btn-maestro{
    background-color: var(--accent-color);
    color: var(--text-icons-color);
}
.btn-lider{
    background-color: var(--dark-primary-color);
    color: var(--text-icons-color);
}
.btn-miembro{
    background-color: var(--light-primary-color);
    color: var(--primary-text-color);
}

}


/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    
    header{
        display: flex;
        justify-content: center;
        align-content: center;
        flex-direction: column;
        width: 100vw;
        text-align: center;
        margin-top: 7rem;
    }
    h1{
        color: black;
        font-size: 4rem;
        margin-bottom: 1rem;
        letter-spacing: .5rem
        
    
    }
    h2{
        color: var(--secondary-text-color);
        font-size: 2rem;
        font-weight: normal;
       
    }
    .logo-container{
        width: 10.1rem;
        height: 10.1rem;
        background-color: var(--accent-color);
        display: block;
        border-radius: 50%;
        margin: 0 auto;
        position: relative;
        top: 8vh;
    }
    .logo-container::after{
        content: "";
        width: 60px;
        height: 60px;
       display: block;
        position: absolute;
        background-image: url('../img/icons/user-icon.svg');
        background-size: cover;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        margin: auto auto;
    }
    .brand{
        display: block;
        margin: 8% auto 0 auto;
        text-align: center;
        font-size: 3rem;
        color: var(--primary-text-color);
    }
    .btn-container{
        display: flex;
  
        justify-content: space-between;
        align-content: center;
        width: 90vw;
        margin: auto auto;
        padding-top: 3rem;
    }
    .btn-container :nth-child(1) {
         order: 1; 
        }
    .btn-container :nth-child(2) {
    order: 1; 
     }
    .btn-container :nth-child(3) {
    order: 2; 
    } 
    .btn-container > span{
        text-align: center;
        margin-bottom: 12%;
        color: var(--secondary-text-color);
        display: none;
    }
    .btn{
        height: 6rem;
        width: 25%;
        border: none;
        margin-bottom: 2rem;
        border-radius: 5px;
    }
   
    .btn:hover, .btn:active{
        cursor: pointer;
    }
    .btn-maestro{
        background-color: var(--accent-color);
        color: var(--text-icons-color);
    
    }
    .btn-lider{
        background-color: var(--dark-primary-color);
        color: var(--text-icons-color);
    }
    .btn-miembro{
        background-color: var(--light-primary-color);
        color: var(--primary-text-color);
}
}